bank 0
	0 eawpats/acpiano amp=125
	1 eawpats/britepno amp=115
	2 eawpats/synpiano amp=115
	3 eawpats/honky
	4 eawpats/epiano1
	5 eawpats/epiano2 amp=80
	6 eawpats/hrpschrd amp=115
	7 eawpats/clavinet
	8 eawpats/celeste amp=100
	9 eawpats/glocken
	10 eawpats/musicbox
	11 eawpats/vibes amp=80
	12 eawpats/marimba
	13 eawpats/xylophon
	14 eawpats/tubebell
	15 eawpats/santur
	16 eawpats/hammond
	17 eawpats/percorg
	18 eawpats/rockorg
	19 eawpats/church
	20 eawpats/reedorg amp=60
	21 eawpats/accordn
	22 eawpats/harmonca
	23 eawpats/concrtna
	24 eawpats/nyguitar amp=150
	25 eawpats/acguitar amp=155
	26 eawpats/jazzgtr amp=145
	27 eawpats/cleangtr amp=100
	28 eawpats/mutegtr amp=125
	29 eawpats/odguitar amp=86
	30 eawpats/distgtr amp=125
	31 eawpats/gtrharm amp=85
	32 eawpats/acbass amp=161
	33 eawpats/fngrbass amp=160
	34 eawpats/pickbass amp=133
	35 eawpats/fretless amp=160
	36 eawpats/slapbas1 amp=135
	37 eawpats/slapbas2 amp=133
	#38 eawpats/synbass1_old amp=165
	38 eawpats/synbass1 amp=100
	39 eawpats/synbass2 amp=128
	40 eawpats/violin amp=150
	41 eawpats/viola
	42 eawpats/cello
	43 eawpats/contraba amp=150
	44 eawpats/tremstr
	45 eawpats/pizzcato amp=130
	46 eawpats/harp
	47 eawpats/timpani amp=200
	48 eawpats/marcato
	49 eawpats/slowstr
	50 eawpats/synstr1 amp=125
	51 eawpats/synstr2 amp=125
	52 eawpats/choir
	53 eawpats/doo
	54 eawpats/voices
	55 eawpats/orchhit
	56 eawpats/trumpet amp=124
	57 eawpats/trombone amp=110
	58 eawpats/tuba     amp=111
	59 eawpats/mutetrum
	60 eawpats/frenchrn amp=139
	61 eawpats/hitbrass amp=113
	62 eawpats/synbras1 amp=115
	63 eawpats/synbras2 amp=115
	64 eawpats/sprnosax amp=125
	65 eawpats/altosax amp=115
	66 eawpats/tenorsax amp=95
	67 eawpats/barisax amp=140
	68 eawpats/oboe
	69 eawpats/englhorn
	70 eawpats/bassoon amp=105
	71 eawpats/clarinet
	72 eawpats/piccolo amp=90
	73 eawpats/flute
	74 eawpats/recorder amp=80
	75 eawpats/woodflut amp=80
	76 eawpats/bottle
	77 eawpats/shakazul amp=125
	78 eawpats/whistle
	79 eawpats/ocarina amp=80
	80 eawpats/sqrwave
	81 eawpats/sawwave
	82 eawpats/calliope
	83 eawpats/chiflead amp=250
	84 eawpats/charang amp=130
	85 eawpats/voxlead
	86 eawpats/lead5th
	87 eawpats/basslead amp=100
	88 eawpats/newage amp=115
	89 eawpats/warmpad
	90 eawpats/polysyn
	91 eawpats/ghostie amp=120
	92 eawpats/bowglass amp=200
	93 eawpats/metalpad amp=100
	94 eawpats/halopad
	95 eawpats/sweeper amp=80
	96 eawpats/aurora amp=130
	97 eawpats/soundtrk
	98 eawpats/crystal
	99 eawpats/atmosphr amp=150
	100 eawpats/freshair
	101 eawpats/unicorn
	102 eawpats/echovox
	103 eawpats/startrak
	104 eawpats/sitar
	105 eawpats/banjo
	106 eawpats/shamisen amp=200
	107 eawpats/koto
	108 eawpats/kalimba amp=100
	109 eawpats/bagpipes
	110 eawpats/fiddle
	111 eawpats/shannai
	112 eawpats/carillon
	113 eawpats/agogo
	114 eawpats/steeldrm amp=113
	115 eawpats/woodblk
	116 eawpats/taiko amp=200
	117 eawpats/toms
	118 eawpats/syntom
	119 eawpats/revcym
	120 eawpats/fx-fret amp=30
	121 eawpats/fx-blow
	122 eawpats/seashore
	123 eawpats/jungle
	124 eawpats/telephon
	125 eawpats/helicptr
	126 eawpats/applause
	127 eawpats/pistol
drumset 0
	25 eawpats/snarerol amp=225	note=60 pan=center
	26 eawpats/snap				note=65 pan=center
	27 eawpats/highq	amp=50		note=65	pan=-21
	28 eawpats/slap					pan=-21
	29 eawpats/scratch1	amp=30			pan=-19
	30 eawpats/scratch2	amp=30			pan=-19
	31 eawpats/sticks			note=60 pan=center
	32 eawpats/sqrclick			note=60 pan=center
	33 eawpats/metclick			note=60 pan=center
	34 eawpats/metbell keep=loop keep=env	note=60 pan=center
	
	# before this point, GM/GS and XG standard drumsets are different...
	
	35 eawpats/kick1		pan=center
	36 eawpats/kick2		pan=center
	37 eawpats/stickrim		pan=center
	38 eawpats/snare1		pan=center
	39 eawpats/claps strip=tail	pan=center
	40 eawpats/snare2		pan=center
	41 eawpats/tomlo2		pan=-63
	#42 eawpats/hihatcl		pan=21	amp=30
	42 eawpats/hihatcl		pan=21	amp=40
	43 eawpats/tomlo1		pan=-40
	#44 eawpats/hihatpd		pan=21	amp=30
	44 eawpats/hihatpd		pan=21	amp=40
	45 eawpats/tommid2		pan=-19
	#46 eawpats/hihatop		pan=21	amp=30
	46 eawpats/hihatop		pan=21	amp=40
	47 eawpats/tommid1		pan=center
	48 eawpats/tomhi2		pan=30
	49 eawpats/cymcrsh1		pan=8	amp=90
	50 eawpats/tomhi1		pan=63
	#51 eawpats/cymride1		pan=-48	amp=50	note=60
	51 eawpats/cymride1		pan=-48	amp=100	note=60
	52 eawpats/cymchina		pan=-48
	53 eawpats/cymbell		pan=-14	amp=80
	54 eawpats/tamborin		pan=center	note=60
	55 eawpats/cymsplsh		pan=center
	56 eawpats/cowbell		pan=21
	57 eawpats/cymcrsh2		pan=-21	amp=90
	58 eawpats/vibslap		pan=-62
	#59 eawpats/cymride2		pan=-29	amp=50	note=60
	59 eawpats/cymride2		pan=-29 amp=100	note=60
	60 eawpats/bongohi		pan=73
	61 eawpats/bongolo		pan=73
	62 eawpats/congahi1		pan=-40 note=55
	63 eawpats/congahi2		pan=-62	note=62
	64 eawpats/congalo		pan=center	note=60
	65 eawpats/timbaleh		pan=center	note=60
	66 eawpats/timbalel		pan=center	note=60
	67 eawpats/agogohi		pan=-48	note=60
	68 eawpats/agogolo		pan=-48	note=60
	69 eawpats/cabasa		pan=-57
	70 eawpats/maracas		pan=-68	note=60
	71 eawpats/whistle1     	pan=59	note=60 keep=loop keep=env
	72 eawpats/whistle2     	pan=59	note=60 keep=loop keep=env
	73 eawpats/guiro1		pan=49	
	74 eawpats/guiro2		pan=73	note=60 keep=env
	75 eawpats/clave		pan=center
	76 eawpats/woodblk1		pan=63	note=60
	77 eawpats/woodblk2		pan=63	note=60
	78 eawpats/cuica1		pan=-68
	79 eawpats/cuica2		pan=-48
	80 eawpats/triangl1		pan=-62	note=60 amp=40
	81 eawpats/triangl2		pan=-62	note=60 amp=40
	82 eawpats/shaker		pan=30
	83 eawpats/jingles		pan=65	note=92
	84 eawpats/belltree		pan=center	keep=loop keep=env
	85 eawpats/castinet		pan=center
	86 eawpats/surdo1		pan=-21
	87 eawpats/surdo2		pan=-21
	88 eawpats/surdo2		pan=-21
