#include <winver.h>

PMIDI ICON "pmidi.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0
FILEOS VOS_NT
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", "\0"
			VALUE "CompanyName", "Pyrite development team\0"
			VALUE "FileDescription", "Pyrite MIDI Player\0"
			VALUE "FileVersion", "1,0,0,0\0"
			VALUE "InternalName", "PMIDI\0"
			VALUE "LegalCopyright", "Copyright (C) 2026\0"
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename", "\0"
			VALUE "PrivateBuild", "\0"
			VALUE "ProductName", "Pyrite MIDI Player\0"
			VALUE "ProductVersion", "0.0.0\0"
			VALUE "SpecialBuild", "\0"
		END
	END
END
